# Terraform
*.tfstate
*.tfstate.*
.crash
.terraform/
.terraform.lock.hcl

# Ignore sensitive or build files
*.log
*.bak
*.tmp


# Ignore environment/config
.env
*.tfvars
*.tfvars.json
providers.tf

# Ignore portfolio files (optional)


# IDE & system
.vscode/
.idea/
.DS_Store
